In [ ]:
import mysql.connector
conn = mysql.connector.connect (host="localhost",user="root",password="P@ranthu123.",database="Redbus")
cursor = conn.cursor()

In [ ]:
import pandas as pd

In [ ]:
create_table_query = """CREATE TABLE bus_info (
    Bus_Route_Name VARCHAR(255),
    Bus_Route_Link VARCHAR(255),
    Bus_Name VARCHAR(100),
    Bus_Type VARCHAR(50),
    Departing_Time TIME,
    Duration VARCHAR(50),
    Reaching_Time TIME,
    Star_Rating DECIMAL(3, 1),
    Price DECIMAL(10, 2),
    Seat_Available INT
);"""
cursor.execute(create_table_query)
conn.commit()

In [ ]:
file_name= ["CTU.csv","HRTC.csv","jammu&kashmir.csv","KSRTC.csv","KTCL.csv","PEPSU.csv","RSRTC.csv","sbstc.csv","west_bengal.csv"]

In [140]:
for file in file_name:
    df=pd.read_csv(file)
    df = df.drop(columns=[ "Unnamed: 0"])
    df.columns = df.columns.str.replace(" ", "_")
    insert_query = """
        INSERT INTO bus_info (
        Bus_Route_Name, 
        Bus_Route_Link, 
        Bus_Name, 
        Bus_Type,
        Departing_Time, 
        Duration, 
        Reaching_Time, 
        Star_Rating,
        Price, 
        Seat_Available
        ) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
    """

# Iterate over rows in the DataFrame and execute the insert query
    for index, row in df.iterrows():
        values = (
        row['Bus_Route_Name'], 
        row['Bus_Route_Link'], 
        row['Bus_Name'], 
        row['Bus_Type'],
        row['Departing_Time'], 
        row['Duration'], 
        row['Reaching_Time'], 
        row['Star_Rating'],
        row['Price'], 
        row['Seat_Available']
    )
    cursor.execute(insert_query, values)

# Commit changes and close connection
    conn.commit()

In [144]:
select_query="""select*from bus_info;"""

In [146]:
cursor.execute(select_query)
tuple_data=cursor.fetchall()

In [150]:
columns = [
    'Bus_Route_Name',
    'Bus_Route_Link',
    'Bus_Name',
    'Bus_Type',
    'Departing_Time',
    'Duration',
    'Reaching_Time',
    'Star_Rating',
    'Price',
    'Seat_Available'
]
df=pd.DataFrame(tuple_data,columns=columns)
df

,Bus_Route_Name,Bus_Route_Link,Bus_Name,Bus_Type,Departing_Time,Duration,Reaching_Time,Star_Rating,Price,Seat_Available
0,Tezpur to Guwahati,https://www.redbus.in/bus-tickets/tezpur-to-gu...,Assam State Transport Corporation (ASTC) - 168821,Bharat Benz A/C Seater (2+2),0 days 15:45:00,04h 45m,0 days 20:30:00,2.7,298.00,14
1,Tezpur to Guwahati,https://www.redbus.in/bus-tickets/tezpur-to-gu...,Chartered Bus - ASTC,Volvo AC Seater Pushback 2+2,0 days 14:30:00,04h 00m,0 days 18:30:00,4.7,432.06,7
2,Tezpur to Guwahati,https://www.redbus.in/bus-tickets/tezpur-to-gu...,Chartered Bus - ASTC,Volvo AC Seater Pushback 2+2,0 days 15:30:00,03h 45m,0 days 19:15:00,4.6,389.13,5
3,Tezpur to Guwahati,https://www.redbus.in/bus-tickets/tezpur-to-gu...,DESTINY TRAVELS,NON A/C Seater (2+1),0 days 18:30:00,09h 15m,0 days 03:45:00,0.0,380.00,15
4,Tezpur to Guwahati,https://www.redbus.in/bus-tickets/tezpur-to-gu...,Himalayan Travels,NON A/C Seater (2+2),0 days 23:40:00,04h 20m,0 days 04:00:00,2.2,450.00,21
...,...,...,...,...,...,...,...,...,...,...
4932,Goa to Shirdi,https://www.redbus.in/bus-tickets/goa-to-shirdi,Humsafar Travels,A/C Sleeper (2+1),0 days 19:00:00,16h 00m,0 days 11:00:00,1.7,1035.00,23
4933,Chandigarh to Patiala,https://www.redbus.in/bus-tickets/chandigarh-t...,Abhimanyu Tours and Travels,AshokLeyland Stile A/C,0 days 22:20:00,00h 40m,0 days 23:00:00,2.8,1200.00,3
4934,Bikaner to Sikar,https://www.redbus.in/bus-tickets/bikaner-to-s...,M R Travels,Volvo Multi-Axle A/C seater/sleeper (2+1),0 days 15:15:00,03h 00m,0 days 18:15:00,3.8,1200.00,60
4935,Siliguri to Malda,https://www.redbus.in/bus-tickets/siliguri-to-...,EASY RIDE,Volvo 9600 Multi-Axle A/C Sleeper (2+1),0 days 18:45:00,05h 10m,0 days 23:55:00,4.7,1500.00,5
4936,Kolkata to Mandarmani,https://www.redbus.in/bus-tickets/kolkata-to-m...,Anadi Travels (Disha Gold),A/C Seater Push Back (2+3),0 days 23:00:00,05h 30m,0 days 04:30:00,1.0,500.00,60

In [152]:
df.head(5)

,Bus_Route_Name,Bus_Route_Link,Bus_Name,Bus_Type,Departing_Time,Duration,Reaching_Time,Star_Rating,Price,Seat_Available
0,Tezpur to Guwahati,https://www.redbus.in/bus-tickets/tezpur-to-gu...,Assam State Transport Corporation (ASTC) - 168821,Bharat Benz A/C Seater (2+2),0 days 15:45:00,04h 45m,0 days 20:30:00,2.7,298.00,14
1,Tezpur to Guwahati,https://www.redbus.in/bus-tickets/tezpur-to-gu...,Chartered Bus - ASTC,Volvo AC Seater Pushback 2+2,0 days 14:30:00,04h 00m,0 days 18:30:00,4.7,432.06,7
2,Tezpur to Guwahati,https://www.redbus.in/bus-tickets/tezpur-to-gu...,Chartered Bus - ASTC,Volvo AC Seater Pushback 2+2,0 days 15:30:00,03h 45m,0 days 19:15:00,4.6,389.13,5
3,Tezpur to Guwahati,https://www.redbus.in/bus-tickets/tezpur-to-gu...,DESTINY TRAVELS,NON A/C Seater (2+1),0 days 18:30:00,09h 15m,0 days 03:45:00,0.0,380.00,15
4,Tezpur to Guwahati,https://www.redbus.in/bus-tickets/tezpur-to-gu...,Himalayan Travels,NON A/C Seater (2+2),0 days 23:40:00,04h 20m,0 days 04:00:00,2.2,450.00,21

In [151]:
df.to_csv("red_bus_final_data.csv")